<html>
  <head>
    <title>home</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .main-display {
        height: 100%;
        width: 100%;
      }
      footer {
        background-color: #ea1111;
        color: white;
        margin-top:350px;
        border-radius:5px;
        text-align: center;
        padding: 50px;
        width:100%;
      }
      .footer_contactus
      {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
      <footer>
        <p class="footer_contactus"><bold>Contact us</bold></p>
        <p>xyz@anits.edu.in</p>
        <p>6301298993</p>
        <p>&copy; Online Examination System. All rights reserved.</p>
      </footer>
  </body>
</html>