<html>
  <head>
    <title>Home</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      header {
        height:100px;
        background-color: #ea1111;
        /* background-color: transparent; */
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Online Examination System</h1>
    </header>
  </body>
</html>